/*! rgsone.com | @author rgsone | @url rgsone.com */
/*	======================================================================
		======================================================================
		|
		|	rgsone.com
		|
		|	@author rudy marc
		|	@contact rgs@rgsone.com
		|	@url http://rgsone.com
		|
		======================================================================
		====================================================================== */

/* 	======================================================================
		|
		|	COLORS
		|
		======================================================================
		|
		|	green: 				#1cee66
		|	purple: 			#4700bc
		|	purple dark: 	#25006a
		|
		|	background: 				#4700bc
		|	background content: #fafafa
		|	background footer: 	#25006a
		|
		|	hr black: #000000
		|	hr grey: 	#dddddd
		|	hr green: #1cee66
		|
		|	typo base: 	#000000
		|	typo green: #1cee66
		|	typo white: #fafafa
		|	typo grey: 	#e0e0e0
		|
		|	selection background: #25006a
		|	selection typo: 			#e0e0e0
		|
		======================================================================
		====================================================================== */

/* 	======================================================================
		|	FONT-FACE
		======================================================================
		====================================================================== */

@font-face {
	font-family: 'rgsoneFont';
	font-weight: normal;
	font-style: normal;

	src: url('../font/font-reg.eot');
	src: url('../font/font-reg.eot?#iefix') format('embedded-opentype'),
	url('../font/font-reg.woff') format('woff'),
	url('../font/font-reg.ttf') format('truetype'),
	url('../font/font-reg.svg#rgsoneFont') format('svg');
}

@font-face {
	font-family: 'rgsoneFont';
	font-weight: normal;
	font-style: italic;

	src: url('../font/font-ita.eot');
	src: url('../font/font-ita.eot?#iefix') format('embedded-opentype'),
	url('../font/font-ita.woff') format('woff'),
	url('../font/font-ita.ttf') format('truetype'),
	url('../font/font-ita.svg#rgsoneFontItalic') format('svg');
}

@font-face {
	font-family: 'rgsoneFont';
	font-weight: bold;
	font-style: normal;

	src: url('../font/font-bol.eot');
	src: url('../font/font-bol.eot?#iefix') format('embedded-opentype'),
	url('../font/font-bol.woff') format('woff'),
	url('../font/font-bol.ttf') format('truetype'),
	url('../font/font-bol.svg#rgsoneFontBold') format('svg');
}

@font-face {
	font-family: 'rgsoneFont';
	font-weight: 900;
	font-style: normal;

	src: url('../font/font-bla.eot');
	src: url('../font/font-bla.eot?#iefix') format('embedded-opentype'),
	url('../font/font-bla.woff') format('woff'),
	url('../font/font-bla.ttf') format('truetype'),
	url('../font/font-bla.svg#rgsoneFontBlack') format('svg');
}

/* 	======================================================================
		|	BASIC
		======================================================================
		====================================================================== */

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%; /* 10px */
}

body {
	font-family: 'rgsoneFont', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.4em; /* 14px */
	font-weight: normal;
	line-height: 1.5;
	color: #333;
	background: #fafafa;
	-webkit-font-smoothing: antialiased;
}

html,
body {
	margin: 0;
	padding: 0;
}

ul,
ol {
	padding-left: 2em;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
	border: 0;
}

em {
	font-style: italic;
}

figure {
	margin: 0;
}

::-moz-selection {
	color: #e0e0e0;
	background: #25006a;
	text-shadow: none;
}

::selection {
	color: #e0e0e0;
	background: #25006a;
	text-shadow: none;
}

/*
* {
	word-wrap: break-word;
	hyphens: auto;
}
*/

p,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea,
caption,
details,
figure,
hgroup {
	line-height: 1.5;
	margin-top: .75em;
	margin-bottom: 0;
}

h1 {
	font-size: 2.286em;
	line-height: 1.312;
	margin-top: 2.286em;
	margin-bottom: 0;
}

h2 {
	font-size: 2em;
	line-height: 1.5;
	margin-top: .75em;
	margin-bottom: 0;
}

h3 {
	font-size: 1.714em;
	line-height: 1.75;
	margin-top: .875em;
	margin-bottom: 0;
}

h4 {
	font-size: 1.429em;
	line-height: 1.05;
	margin-top: 1.05em;
	margin-bottom: 0;
}

p:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child {
	margin-top: 0;
}

code,
pre,
samp,
kbd {
	font-family: Consolas, Monaco, 'Lucida Console', Courier, monospace;
	line-height: 1;
	white-space: pre-line;
	white-space: pre-wrap; /* IE fix */
}

/* 	======================================================================
		|	STRUCTURE
		======================================================================
		====================================================================== */

body {
	color: #000;
	background-color: #4700bc;
}

a {
	text-decoration: none;
	color: #333;
}

header,
section,
nav,
footer {
	overflow: hidden;
}

body > header,
body > section,
body > nav,
body > footer {
	margin: 0 2.142857em; /* 0 30px */
}

body > header {
	margin-top: 2.142857em; /* 30px */
}

body > header,
body > section,
body > nav {
	background-color: #fafafa;
}

body > footer {
	margin-bottom: 3.571429em; /* 50px */
	background-color: #1e0065;
}

hr {
	height: 0;
	margin-top: 0;
	margin-bottom: 0;
	border: 0;
	border-bottom: 1px solid #000;
}

/*	=== breakpoint > 900px === */

@media ( max-width: 900px ) {
	body > header,
	body > section,
	body > nav,
	body > footer {
		margin-right: 1.071429em; /* 15px */
		margin-left: 1.071429em; /* 15px */
	}

	body > header {
		margin-top: 1.071429em; /* 15px */
	}
}

/*	=== breakpoint > 600px === */

@media ( max-width: 600px ) {
	body > header,
	body > section,
	body > nav,
	body > footer {
		margin-right: .714286em; /* 10px */
		margin-left: .714286em; /* 10px */
	}

	body > header {
		margin-top: .714286em; /* 10px */
	}
}

/*	=== breakpoint > 460px === */

@media ( max-width: 460px ) {
	body > header,
	body > section,
	body > nav,
	body > footer {
		margin-top: 0;
		margin-right: 0;
		margin-left: 0;
	}
}


/*  === HOME =============================================================
		====================================================================== */


/* 	=== header === */

.home > header {
	padding: 15.714286em 2.142857em 9.285714em; /* 220px 30px 130px */
}

.home > header > h1 {
	font-size: 2.142857em; /* 30px */
	font-weight: 900;
	margin: 3.666666em 0 .333333em; /* 110px 0 10px */
	text-transform: uppercase;
}

.tagline {
	font-size: 1.428571em; /* 20px */
	font-weight: bold;
	margin: 0;
	text-transform: uppercase;
}

.tagline + p {
	font-size: 2em; /* 28px */
	font-weight: 900;
	margin: .5em 0; /* 14px 0 */
	color: #4700bc;
}

.shortbio {
	font-size: 1.428571em; /* 20px */
	max-width: 630px;
	margin: 0 auto;
}

/* 	=== home-nav === */

.home-nav {
	padding: 1.785714em 2.142857em; /* 24px 30px */
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.home-nav > ul {
	padding: 0;
	list-style: none;
	text-align: center;
}

.home-nav > ul > li {
	font-size: 1.071429em; /* 15px */
	font-weight: 900;
	display: inline;
	padding: 0 .857143em; /* 0 12px */
	text-transform: uppercase;
}

/* a */
.home-nav > ul > li > a {
	transition: padding 300ms ease, border-color 300ms ease;
	color: #000;
	border-bottom: 4px solid #fafafa;
}
/* a */
.home-nav > ul > li > a:focus,
.home-nav > ul > li > a:hover,
.home-nav > ul > li > a:active {
	padding-bottom: 4px;
	border-bottom-color: #1cee66;
}

/* 	=== projects === */

.projects {
	padding: 6.785714em 2.142857em 9.285714em; /* 95px 30px 130px */
	border-bottom: 1px solid #ddd;
}

.down-arrow-icon {
	position: relative;
	display: block;
	width: 46px;
	height: 46px;
	margin: 0 auto 5.357143em; /* 0 auto 75px */
	border-radius: 50%;
	background-color: #000;
}

.down-arrow-icon > img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -3px;
	margin-left: -6px;
}

.projects > h2 {
	font-size: 2em; /* 28px */
	font-weight: 900;
	margin: 0 0 1.785714em; /* 0 0 50px */
	text-transform: uppercase;
}

.projects > h2 + hr {
	max-width: 80px;
}

/* 	=== projects-showcase === */

.projects-showcase {
	overflow: visible;
	padding: 5.357143em 0 0; /* 75px 0 0 */
}

.projects-showcase > ul {
	padding: 0;
	list-style: none;
}

.projects-showcase > ul > li {
	margin-bottom: 3.571429em; /* 50px */
	text-align: center;
}

.projects-showcase > ul > li > div {
	display: inline-block;
	max-width: 100%;
}

/* a */
.projects-showcase a {
	display: block;
	transition: transform 200ms ease;
	/* transform: rotate( 1deg ) scale( 1 ); */
}
/* a */
.projects-showcase a:focus,
.projects-showcase a:hover,
.projects-showcase a:active {
	transform: rotate( 1.5deg ) scale( 1.05 );
}

.projects-showcase p {
	font-size: 1.142857em; /* 16px */
	line-height: 1.2;
	margin: 2.1875em 0; /* 35px 0 */
}

.projects-showcase hr {
	border-color: #ddd;
}

/* 	=== projects-list === */

.projects-list {
	overflow: visible;
	padding: 3.571429em 0 0; /* 50px 0 0 */
}

.projects-list > ul {
	padding: 0;
	list-style: none;
	text-align: center;
}

.projects-list > ul > li {
	display: inline-block;
	max-width: 100%;
	margin: 0 0 3.571429em; /* 0 0 50px */
}

/* a */
.projects-list a {
	display: block;
	margin: 0 1.785714em; /* 0 25px */
}

.projects-list a > img {
	transition: transform 200ms ease;
	/* transform: rotate( 1deg ); */
}

.projects-list a > img:hover,
.projects-list a > img:active {
	transform: rotate( 1.5deg ) scale( 1.05 );
}

.projects-list p {
	font-size: 1.285714em; /* 18px */
	margin: 0 1.785714em; /* 0 25px */
	padding: .833333em 0 0; /* 15px 0 0 */
	text-align: left;
}

/* 	=== about === */

.about {
	padding: 5.714286em 2.142857em 0; /* 80px 30px 0 */
}

.about > h2 {
	font-size: 2em; /* 28px */
	font-weight: 900;
	margin: 0 0 1.785714em; /* 0 0 50px */
	text-transform: uppercase;
}

.about > h2 + hr {
	max-width: 80px;
}

.about > div {
	margin-top: 6.785714em; /* 95 px */
}

.about-bio,
.about-info {
	display: inline-block;
	vertical-align: top;
}

.about-bio {
	max-width: 60%;
	padding-right: 4.642857em; /* 65px */
}

.about-bio > p {
	font-size: 1.571429em; /* 22px */
}

.about-bio > p + p {
	margin-top: 1em; /* 22px */
}

.about-info {
	max-width: 40%;
	padding-left: 4.285714em; /* 60px */
	border-left: 1px solid #ddd;
}

.about-info > h3 {
	font-size: 1.142857em; /* 16px */
	font-weight: 900;
	margin-top: 2em; /* 30px */
	text-transform: uppercase;
}

.about-info > h3:first-child {
	margin-top: 0;
}

.about-info > p {
	font-size: 1.285714em; /* 18px */
}

.about-info > p + p {
	margin-top: 1em; /* 18px */
}

.about > div > hr {
	margin-top: 8.571429em; /* 120px */
	border-color: #ddd;
}

/* 	=== contact === */

.contact {
	padding: 9.285714em 2.142857em; /* 130px 30px */
}

.contact > h2 {
	font-size: 2em; /* 28px */
	font-weight: 900;
	margin: 0;
	text-transform: uppercase;
}

.contact > h2 + div {
	margin-top: 3.571429em; /* 50px */
}

/* a */
.contact-button {
	font-size: 2.571429em; /* 36px */
	font-weight: bold;
	line-height: 1;
	display: inline-block;
	padding: .888889em 2.222222em; /* 32px 80px */
	transition: color 300ms ease, background-color 300ms ease, border-color 300ms ease;
	color: #666;
	border: 1px solid #eee;
	border-radius: 5px;
	background-color: #eee;
}
/* a */
.contact-button:focus,
.contact-button:hover,
.contact-button:active {
	color: #1cee66;
	border-color: #1cee66;
	background-color: #fafafa;
}

.contact > hr {
	max-width: 400px;
	margin-top: 4.285714em; /* 60px */
	border-color: #ddd;
}

.contact > ul {
	margin: 3.571429em; /* 50px 0 0 */
	padding: 0;
	list-style: none;
	text-align: center;
}

.contact > ul > li {
	display: inline-block;
	margin: 0 10px;
}

/* a */
.contact > ul > li > a {
	display: block;
	transition: transform 300ms ease;
}
/* a */
.contact > ul > li > a:focus,
.contact > ul > li > a:hover,
.contact > ul > li > a:active {
	transform: translate( 0, -5px );
}

/* 	=== footer === */

footer {
	overflow: visible;
	padding: 7.142857em 2.142857em 0; /* 100px 30px 0 */
}

footer > p:first-child {
	font-size: 1.071429em; /* 15px */
	font-weight: bold;
	color: #fafafa;
}

footer > hr {
	max-width: 120px;
	margin-top: 3.571429em; /* 50px */
	border-color: #1cee66;
}

.linklist {
	font-size: 1.142857em; /* 16px */
	line-height: 1.6;
	margin-top: 3.285714em; /*46px */
	color: #ddd;
}

.linklist > span {
	padding: 0 .625em; /* 0 10px */
}

/* a */
.linklist > a {
	padding-bottom: 0;
	transition: padding 300ms ease, border-bottom-color 300ms ease;
	color: #e0e0e0;
	border-bottom: 1px dotted #25006a;
}
/* a */
.linklist > a:visited {
	color: #ccc;
}
/* a */
.linklist > a:focus,
.linklist > a:hover,
.linklist > a:active {
	padding-bottom: 2px;
	border-bottom-color: #1cee66;
}

footer > div {
	margin-top: 7.142857em; /* 100px */
}

/* a */
.top-button {
	position: relative;
	top: 25px;
	display: block;
	width: 50px;
	height: 50px;
	transition: top 300ms ease;
	border: 4px solid #4700bc;
	border-radius: 50%;
	background-color: #25006a;
}
/* a */
.top-button:focus,
.top-button:hover,
.top-button:active {
	top: 20px;
}

.top-button > img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -7px;
	margin-left: -6px;
}

/*	=== breakpoint > 800px === */

@media ( max-width: 800px ) {
	.home > header {
		padding: 10em 1.428571em 9.285714em; /* 150px 20px 130px */
	}

	.home-nav {
		padding-right: 1.428571em; /* 20px */
		padding-left: 1.428571em; /* 20px */
	}

	.projects {
		padding-right: 1.428571em; /* 20px */
		padding-left: 1.428571em; /* 20px */
	}

	.about {
		padding-right: 1.428571em; /* 20px */
		padding-left: 1.428571em; /* 20px */
	}

	.about-bio {
		max-width: none;
		padding: 0 2em; /* 0 28px */
	}

	.about-info {
		max-width: none;
		margin-top: 4.285714em; /* 60px */
		padding: 0 2em; /* 0 28px */
		border-left: none;
	}

	.contact {
		padding-right: 1.428571em; /* 20px */
		padding-left: 1.428571em; /* 20px */
	}

	footer {
		padding-right: 1.428571em; /* 20px */
		padding-left: 1.428571em; /* 20px */
	}
}

/*	=== breakpoint < 540px === */

@media ( max-width: 540px ) {
	/* 	=== header === */

	.home > header {
		padding-top: 7.142857em; /* 100px */
		padding-bottom: 7.142857em; /* 100px */
	}

	.home > header > h1 {
		font-size: 2em; /* 28px */
		margin: 2.857143em 0 0; /* 80px 0 0 */
	}

	.tagline {
		font-size: 1.285714em; /* 18px */
		margin: .333333em 0 0; /* 6px */
	}

	/* 	=== home-nav === */

	.home-nav {
		padding: 0;
		border: none;
	}

	.home-nav > ul > li {
		font-size: 1.142857em; /* 16px */
		display: block;
		padding: 0;
		border-bottom: 1px solid #e0e0e0;
	}

	.home-nav > ul > li:first-child {
		border-top: 1px solid #e0e0e0;
	}

	/* a */
	.home-nav > ul > li > a {
		display: block;
		padding: 1em;
		transition: all 0 ease 0;
		border-bottom: none;
	}
	/* a */
	.home-nav > ul > li > a:focus,
	.home-nav > ul > li > a:hover,
	.home-nav > ul > li > a:active {
		padding: 1em;
		border-bottom: none;
		background-color: #eee;
	}

	/* 	=== projects === */

	.projects {
		padding-top: 5.714286em; /* 80px */
		padding-bottom: 2.857143em; /* 40px */
	}

	.down-arrow-icon {
		width: 40px;
		height: 40px;
		margin-bottom: 0;
	}

	.projects > h2 {
		font-size: 1.857143em; /* 26px */
		margin: 1.538461em 0 0; /* 40px 0 0 */
	}

	.projects > h2 + hr {
		margin-top: 2.857143em;
	}

	/* 	=== about === */

	.about {
		padding-top: 4.285714em; /* 60px */
	}

	.about > h2 {
		font-size: 1.857143em; /* 26px */
		margin: 0;
	}

	.about > h2 + hr {
		margin-top: 2.857143em;
	}

	.about > div {
		margin-top: 4.285714em; /* 60 px */
	}

	.about-bio {
		padding: 0;
	}

	.about-bio > p {
		font-size: 1.285714em; /* 18px */
	}

	.about-info {
		padding: 0;
	}

	.about > div > hr {
		margin-top: 4.285714em; /* 60px */
	}

	/* 	=== contact === */

	.contact {
		padding-top: 4.285714em; /* 60px */
		padding-bottom: 4.285714em; /* 60px */
	}

	.contact > h2 {
		font-size: 1.857143em; /* 26px */
	}

	.contact > h2 + div {
		margin-top: 2.5em; /* 35px */
	}

	/* a */
	.contact-button {
		font-size: 1.857143em; /* 26px */
		display: block;
		padding: .769231em; /* 20px */
		transition: all 0 ease 0;
	}

	.contact > hr {
		max-width: none;
	}

	.contact > ul {
		margin: 3.571429em 0 0; /* 50px 0 0 */
	}

	.contact > ul > li {
		margin: 10px 10px 0;
	}

	/* 	=== footer === */

	footer {
		padding-top: 5.714286em; /* 80px */
	}

	footer > div {
		margin-top: 3.571429em; /* 50px */
	}
}

/*	=== breakpoint < 400px === */

@media ( max-width: 400px ) {
	.home > header {
		padding: 5.714286em .714286em; /* 80px 10px */
	}

	.home-nav {
		padding-right: .714286em; /* 10px */
		padding-left: .714286em; /* 10px */
	}

	.projects {
		padding-right: .714286em; /* 10px */
		padding-left: .714286em; /* 10px */
	}

	.about {
		padding-right: .714286em; /* 10px */
		padding-left: .714286em; /* 10px */
	}

	.contact {
		padding-right: .714286em; /* 10px */
		padding-left: .714286em; /* 10px */
	}

	footer {
		padding-right: .714286em; /* 10px */
		padding-left: .714286em; /* 10px */
	}
}


/*  === PROJECT ==========================================================
		====================================================================== */


/* 	=== header === */

.project > header {
	padding: 3.214286em 5em 0; /* 45px 70px 0 */
}

.project > header > div {
	border-bottom: 1px solid #e0e0e0;
}

/* a */
.project .logo {
	display: block;
	float: left;
	margin-bottom: 2.857143em; /* 40px */
}

.project-nav {
	float: right;
	overflow: visible;
	padding-top: 1em;
}

.project-nav > ul {
	margin: 0;
	padding: 0;
}

.project-nav > ul > li {
	font-weight: 900;
	display: inline-block;
	padding: 0 0 0 1.428571em; /* 0 0 0 20px */
	text-transform: uppercase;
}

/* a */
.project-nav > ul > li > a {
	transition: padding 300ms ease, border-color 300ms ease;
	color: #000;
	border-bottom: 4px solid transparent;
}
/* a */
.project-nav > ul > li > a:focus,
.project-nav > ul > li > a:hover,
.project-nav > ul > li > a:active {
	padding-bottom: 4px;
	border-bottom-color: #1cee66;
}

/* 	=== project-content === */

.project-content {
	padding: 9.285714em 2.142857em; /* 130px 30px */
}

.project-content > h1 {
	font-size: 2.571429em; /* 36px */
	font-weight: bolder;
}

.project-content > .project-meta {
	font-size: 1em; /* 14px */
	margin-top: .714286em; /* 10px */
	text-transform: uppercase;
}

.project-content > .project-meta + p {
	margin-top: 2em; /* 40px */
}

.project-content > p {
	font-size: 1.428571em; /* 20px */
	max-width: 800px;
	margin-top: 1.5em; /* 30px */
	margin-right: auto;
	margin-left: auto;
}

/* a */
.project-content > p > a {
	border-bottom: 1px dotted #333;
	transition: color 300ms ease, border-color 300ms ease, padding-bottom 300ms ease;
}
/* a */
.project-content > p > a:focus,
.project-content > p > a:hover,
.project-content > p > a:active {
	color: #1cee66;
	border-bottom-color: #1cee66;
	padding-bottom: 2px;
}

.project-content > .project-img {
	max-width: none;
	margin-right: 0;
	margin-left: 0;
	text-align: center;
}

.project-content > .img-caption {
	font-size: 1em; /* 14px */
	padding-left: 1em;
	border-left: 4px solid #1cee66;
}

/* a */
.project-content > p > .link-button {
	font-size: .8em; /* 16px */
	display: inline-block;
	padding: .75em 1.625em; /* 12px 26px */
	transition: background-color 300ms ease, border-color 300ms ease;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	background-color: #eee;
}
/* a */
.project-content > p > .link-button:focus,
.project-content > p > .link-button:hover,
.project-content > p > .link-button:active {
	padding: .75em 1.625em; /* 12px 26px */
	color: #000;
	border-color: #1cee66;
	background-color: transparent;
}

/*	=== breakpoint < 900px === */

@media ( max-width: 900px ) {
	.project > header {
		padding-right: 2.142857em; /* 30px */
		padding-left: 2.142857em; /* 30px */
	}
}

/* 	=== breakpoint < 560px === */

@media ( max-width: 560px ) {
	.project > header {
		padding: 4.285714em 0 0; /* 60px 0 0 */
	}

	.project > header > div {
		border-bottom: none;
	}

	/* a */
	.project .logo {
		display: block;
		float: none;
		width: 54px;
		margin: 0 auto;
	}

	.project-nav {
		float: none;
		margin-top: 4em; /* 56px */
		padding: 0;
	}

	.project-nav > ul > li {
		display: block;
		padding: 0;
		text-align: center;
		border-bottom: 1px solid #e0e0e0;
	}

	.project-nav > ul > li:first-child {
		border-top: 1px solid #e0e0e0;
	}

	/* a */
	.project-nav > ul > li > a {
		display: block;
		padding: 14px 20px;
		transition: all 0 ease 0;
		color: #000;
		border: none;
	}
	/* a */
	.project-nav > ul > li > a:focus,
	.project-nav > ul > li > a:hover,
	.project-nav > ul > li > a:active {
		padding: 14px 20px;
		border-bottom-color: transparent;
		background-color: #eee;
	}

	/* === */

	.project-content {
		padding: 5em 1.428571em; /* 70px 20px */
	}

	.project-content > h1 {
		font-size: 2em; /* 28px */
	}

	.project-content > p {
		font-size: 1.285714em; /* 18px */
		max-width: none;
		margin-top: 1.333333em; /* 24px */
		margin-right: 0;
		margin-left: 0;
	}
}

/*  === COMMON ===========================================================
		====================================================================== */

.w50 {
	width: 50%;
}

.w100 {
	width: 100%;
}

.w1200p {
	max-width: 1200px;
}
.w1100p {
	max-width: 1100px;
}
.w960p {
	max-width: 960px;
}
.w900p {
	max-width: 900px;
}
.w800p {
	max-width: 800px;
}
.w660p {
	max-width: 660px;
}

.wauto {
	width: auto;
}

.center {
	margin-right: auto;
	margin-left: auto;
}

.hide {
	display: none !important;
}

.txtcenter {
	text-align: center;
}

.bold {
	font-weight: bold;
}

.bolder {
	font-weight: 900;
}

.italic {
	font-style: italic;
}

.uppercase {
	text-transform: uppercase;
}

.txtcolor1 {
	color: #1cee66;
}

/* 	======================================================================
		|	HELPERS
		======================================================================
		====================================================================== */

.imgr {
	font: 0/0 a;
	overflow: hidden;
	color: transparent;
	border: 0;
	background-color: transparent;
	text-shadow: none;

	*text-indent: -9999px;
}

.imgr:before {
	display: block;
	width: 0;
	height: 150%;
	content: '';
}

.clearfix:after {
	display: table;
	clear: both;
	content: '';
}

/* 	======================================================================
		|	IE FIX
		======================================================================
		====================================================================== */

/*  === IE7/8-FIX ======================================================== */

.ie78 {
}

/*  === IE8-FIX ========================================================== */

.ie8 img {
	width: auto; /* @bugfix for IE8 */
}

.ie8 .about-bio {
	max-width: 55%;
	padding-right: 5%;
}

.ie8 .about-info {
	max-width: 35%;
	padding-left: 4%; /* 60px */
	border-left: 1px solid #ddd;
}

/*  === IE7-FIX ========================================================== */

.ie7 .clearfix {
	zoom: 1;
}

.ie7 .projects > h2 + hr,
.ie7 .about > h2 + hr {
	width: 80px;
}

.ie7 footer > hr {
	width: 120px;
}

.ie7 .contact > hr {
	width: 260px;
}

.ie7 .projects-showcase > ul > li > div,
.ie7 .projects-list > ul > li,
.ie7 .about-bio,
.ie7 .about-info,
.ie7 .contact > ul > li,
.ie7 .project-nav > ul > li {
	display: inline;
	zoom: 1;
}

/* 	======================================================================
		|		MEDIAS QUERIES
		======================================================================
		====================================================================== */

/*  ======================================================================
		=== desktop and retina medias ======================================== */

@media ( -webkit-min-device-pixel-ratio: 2 ), ( min-resolution: 192dpi ), ( min-resolution: 2dppx ) {
	/* Style adjustments for retina devices */
}

/*	======================================================================
		=== < 1024 =========================================================== */

@media only screen and ( max-width: 1024px ) and ( orientation: landscape ) {
	body {
		-webkit-text-size-adjust: none;
	}
}


/*	======================================================================
		=== < 480 ============================================================ */

@media only screen and ( max-width: 480px ) {
	body {
		-webkit-text-size-adjust: none;
	}
}

/*	======================================================================
		=== EOF ============================================================== */
