		<footer>
			<p class="txtcenter">rudy « rgsone » marc — bidouilleur de pixel et de code depuis 1998</p>
			<hr class="center">
			<p class="linklist txtcenter center w660p">
				<span class="txtcolor1 bolder uppercase">/&nbsp;amis&nbsp;/</span>
				<a href="http://www.amelinelarue.com" title="Ameline Larue">Ameline Larue</a> —
				<a href="http://www.amocrea.com" title="Amo">Amo</a> —
				<a href="http://www.behance.net/anaislefebvre" title="Anaïs Lefebvre">Anaïs Lefebvre</a> —
				<a href="http://www.brunosouetre.net" title="Bruno Souêtre">Bruno Souêtre</a> —
				<a href="http://c-abt.ultra-book.com" title="Cédric Abt">Cédric Abt</a> —
				<a href="http://divemask.tumblr.com" title="Daro">Daro</a> —
				<a href="http://geoffreydorne.com" title="Geoffrey Dorne">Geoffrey Dorne</a> —
				<a href="http://www.ikanografik.com" title="Kanos">Kanos</a> —
				<a href="http://printagraf.wordpress.com" title="Max">Max</a> —
				<a href="http://www.minuitsept.com" title="Minuitsept">Minuitsept</a> —
				<a href="http://www.sandrineherlin.net" title="Sandrine Herlin">Sandrine Herlin</a> —
				<a href="http://www.o0o.ch" title="Triplo">Triplo</a>
				<span class="txtcolor1 bolder uppercase">/&nbsp;ailleurs&nbsp;/</span>
				<a href="http://stdin.fr" title="&lt;stdin&gt;">&lt;stdin&gt;</a> —
				<a href="http://www.editions-b42.com" title="Éditions B42">Éditions B42</a> —
				<a href="http://www.gillesdupuis.fr" title="Gilles Dupuis">Gilles Dupuis</a> —
				<a href="http://www.laquadrature.net" title="La Quadrature du Net">La Quadrature du Net</a> —
				<a href="http://lust.nl" title="Lust">Lust</a> —
				<a href="http://www.lavitrinedetrafik.fr" title="Trafik">Trafik</a> —
				<a href="http://www.typographicposters.com" title="Typo/graphic posters">Typo/graphic posters</a>
				<span class="txtcolor1 bolder uppercase">/&nbsp;support&nbsp;/</span>
				<a href="http://www.400pourcent.net" title="Galerie 400%">Galerie 400%</a>
			</p>
			<div>
				<a class="top-button center" href="#haut" title="retour en haut"><img src="{{{resourcePath}}}/img/icon-up-arrow.png" alt="flêche vers le haut"></a>
			</div>
		</footer>
